<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>	
	<!-- 连接数据库的参数 -->
<session-factory>
	<!-- 1.连接数据库参数 -->
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/hibernate
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">root</property>

	<!-- hibernate方言 -->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	
	<!-- Hibernate整合c3p0 -->
	<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
	<!-- c3p0详细配置 -->
	<property name="c3p0.min_size">10</property>
	<property name="c3p0.max_size">20</property>
	
	<!-- Hibernate整合Ehache实现二级缓存 -->
	<!-- 开启Hibernate的二级缓存 -->
	<property name="hibernate.cache.use_second_level_cache">true</property>
	<!-- 引入EhCache的工具 -->
	<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

	<!-- 开启查询缓存 -->
	<property name="hibernate.cache.use_query_cache">true</property>
	
	<!-- 2.hibernate扩展参数 -->
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">true</property>
	<property name="hibernate.hbm2ddl.auto">update</property>

	<!-- *.hbm.xml文件 -->
	<mapping resource="com/yiidian/domain/Customer.hbm.xml" />
	
	<!-- 需要缓存Customer类 -->
	<class-cache usage="read-only" class="com.yiidian.domain.Customer"/> 
</session-factory>
</hibernate-configuration>	
